/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  background-size: cover;
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1b247871-730e-4a5b-b4a7-2117bfde30a6/d5cmg4b-d499ca01-9aaf-47b7-8892-b27d897c5250.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzFiMjQ3ODcxLTczMGUtNGE1Yi1iNGE3LTIxMTdiZmRlMzBhNlwvZDVjbWc0Yi1kNDk5Y2EwMS05YWFmLTQ3YjctODg5Mi1iMjdkODk3YzUyNTAuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.LE27ZPGMquCl0Rx6zomBJE7cAan4WGzQ32wblefuU-c');
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1, h2{
  text-align: center;
}
img{
  display: block;
  height: 300px;
  margin: 0 auto;
}
ul{
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 1rem;
}
li{
  width: 94px;
  height: 65px;
  border: 3px solid white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#earth{
  background: rgb(168, 114, 63);
}
#fire{
  background: rgb(212, 60, 33);
}
#water{
  background: rgb(16, 158, 240);
}
#air{
  background: rgb(170, 250, 239);
  color: black;
}
